<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cupcake Shop - @ViewBag.Title</title>

    <link href="~/content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="font-size:xx-large">My Cupcakes</h1>
            <a class="navbar-brand btn btn-primary btn-default bg-dark btn-outline-dark"  href="~/Home/index">Home</a>
            <a class="navbar-brand btn btn-default bg-dark btn-outline-dark" href="~/Cupcakes/">View Inventory</a>
            <a class="navbar-brand btn btn-default bg-dark btn-outline-dark" href="~/Cupcakes/SearchForm">Search Cupcakes</a>


            



                @using (Html.BeginForm("SearchForName", "Cupcakes"))
                {
                    @Html.AntiForgeryToken()



                    <div class="form-horizonal d-flex">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group float-child">
                            <input class="form-control me-sm-2" type="text" placeholder="Search" name="searchPhrase" id="searchPhrase">

                        </div>
                        <p style="color:#212529">__</p>
                        <div class="form-group float-child">
                            <input  type="submit" value="Search" class="btn btn-default bg-dark btn-outline-dark" />
                        </div>
                    </div>
                }
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h6>A Luca Bernardi Application &copy; @DateTime.Now.Year</h6>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
