<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cupcake Shop - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand" style="font-size:xx-large">My Cupcakes</h1>
            <a class="navbar-brand" href="/#">Home</a>
            <a class="navbar-brand" href="~/Cupcakes">View Inventory</a>
            <a class="navbar-brand" href="~/Cupcakes/SearchForm">Search Cupcakes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Home
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                    <li>@Html.ActionLink("Show Cupcakes", "Index", "Cupcakes")</li></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>

                </ul>
                @using (Html.BeginForm("SearchForName", "Cupcakes"))
                {
                    @Html.AntiForgeryToken()



                    <div class="form-horizonal d-flex">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group float-child">
                            <input class="form-control me-sm-2" type="text" placeholder="Search" name="searchPhrase" id="searchPhrase">

                        </div>
                        <p>__</p>
                        <div class="form-group float-child">
                            <input style="color:#485785; " type="submit" value="Search" class="btn btn-default" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <h6>A Luca Bernardi Application &copy; @DateTime.Now.Year</h6>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
