@model CupcakeEntity.Models.CupcakeModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p></p>
<p></p>
<h2>Details of @Html.DisplayFor(model => model.Name)</h2>

<div>
    <!-- <h4>CupcakeModel</h4> -->
    <hr />
    <dl class="dl-horizontal" style="color:#485785">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

    </dl>
</div>
<p>
    <div class="btn btn-default btn-sm">@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</div>
    |
    <div class="btn btn-default btn-sm">@Html.ActionLink("Back to List", "Index")</div>
    
</p>
